.input-field {
  padding: 5px;
  font-size: 24px;
  border-radius: 7px;
}

.button {
  height: 42px;  
  border-radius: 10px;
  margin-left: 15px;
  background-color: white;  
}

.warning {
  color: red;
  font-size: 18px;
}

.congratulations{
  color: green;
  margin-top: 20px;
}